<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>595241671278-bb52kibcp0c8ducasouu738pmbgj3s6j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.595241671278-bb52kibcp0c8ducasouu738pmbgj3s6j</string>
	<key>API_KEY</key>
	<string>AIzaSyDNybo87UtY_J1vr9YxwfNvfzRqzpoA58Q</string>
	<key>GCM_SENDER_ID</key>
	<string>595241671278</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.AlecSaunders.Todo</string>
	<key>PROJECT_ID</key>
	<string>todo-7dea8</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-7dea8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:595241671278:ios:772567f7d4555651</string>
	<key>DATABASE_URL</key>
	<string>https://todo-7dea8.firebaseio.com</string>
</dict>
</plist>